################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Lix-HueSub/SharpHue
/packages
/Bericht20171217-2318.diagsession
/Lix-HueSub/TextFile1.txt
